<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <title>Registration Form</title>
</head>

<style>


.capbox {
  background-color: #92D433;
  border: #B3E272 0px solid;
  border-width: 0px 12px 0px 0px;
  display: inline-block;
  *display: inline; zoom: 1; /* FOR IE7-8 */
  padding: 8px 40px 8px 8px;
  }

.capbox-inner {
  font: bold 11px arial, sans-serif;
  color: #000000;
  background-color: #DBF3BA;
  margin: 5px auto 0px auto;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }

#CaptchaDiv {
  font: bold 17px verdana, arial, sans-serif;
  font-style: italic;
  color: #000000;
  background-color: #FFFFFF;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }

 #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        max-width: 400px;
        padding-right: 2px;
        margin-bottom:20px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }


</style>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <p class='lead'>Texas Voter Registration</p>

    </div>
</nav>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">

      <h3 class="text-center">Registration Form</h3>
        


      <div style="color:red; padding-top:20px;" id='first_errors'>
        
      </div>

      <div style="color:red; padding-top:20px;" id='last_errors'>
        
      </div>

      <div style="color:red; padding-top:20px;" id='pass_errors'>
        
      </div>

       <div style="color:red; padding-top:20px;" id='email_errors'>
        
      </div>

      <hr class="my-4" style=' border: 0;
                                clear:both;
                                display:block;
                                 width: 96%;               
                                 background-color:grey;
                                 height: 1px;'>

      <form name='registration' onsubmit="return checkform(this)" method="post" action='/register'>
        <div class="form-group" >
          <label for="first" id='first_label'>First Name <span id='symbol_first'></span></label>
          <input type="text" class="form-control" name="first" id="first" required>
        </div>
        <div class="form-group">
            <label for="last" id='last_label'>Last Name <span id='symbol_last'></span></label>
          <input type="text" class="form-control" name="last" id="last" required>
        </div>
         <div class="form-group">
            <label for="last" id='email_label'>Email<span id='symbol_email'></span></label>
          <input type="text" class="form-control" name="email" id="email" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input id="autocomplete" onFocus="geolocate()" type="text" name="address" class="form-control"  required>

        </div>

    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true" name="street" required></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true" name="street_name" required></input></td>
      </tr>
      <tr>
        <td class="label">* City</td>
        <!-- Note: Selection of address components in this example is typical.
             You may need to adjust it for the locations relevant to your app. See
             https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
        -->
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true" name="city" required></input></td>
      </tr>
      <tr>
        <td class="label">* State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true" name="state" required></input></td>
        <td class="label" id="zipcode">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true" name="zipcode" required></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true" required></input></td>
      </tr>
    </table>


<div class="form-group">
          <label for="phone" id="phone">Phone</label>
         <input type="text" class="form-control" name="phone" id="phone_number" required>
       </div>
       
        <div class="form-group">
          <label for="password" id="psw_label">Password <span id='symbol_pass'></span></label>
          <input type="password" name="psw" class="form-control" id='psw' required>
        </div>
        <div class="form-group">
          <label for="password2" id="conf_psw_label">Confirm Password<span id='symbol_pass_conf'></span></label>
          <input type="password" name="password2" id="conf_psw" class="form-control" value="" required>
        </div>
        <b>Captcha</b> </br><br>

    <div class="capbox" align="center">

    <div id="CaptchaDiv" align="center"></div>

    <div class="capbox-inner"  align="center">
    Type the above number:

    <input type="hidden" id="txtCaptcha">
    <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>

    </div>
    </div>
    <div class="form-group" style="margin-top:20px;">

    <label for="terms">
        <input type="checkbox" name="remember" id='terms' style="margin-bottom:15px"> By checking this box you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>
      </label>
    </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>

    <script src="./validation.js">


    </script>

    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiug74pt7jFl5VYdDfXhFLYJdkZ1maj2Y&libraries=places&callback=initAutocomplete"
        async defer></script>

      <script>
     

     document.getElementById('postal_code').onkeyup = ()=> {

      var zipcode = document.getElementById('postal_code').value


      var error = false;

            for(var i=0; i < zipcode.length; i++) {

               if(isNaN(parseInt(zipcode[i])) || zipcode.length !== 5)

                error = true;
          }
     

     if(error) document.getElementById('zipcode').style.color = 'red'
      if(!error) document.getElementById('zipcode').style.color = 'black'


}












      </script>

</body>


</html>
