<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <title>Registration Form</title>
</head>

<style>


.capbox {
  background-color: #92D433;
  border: #B3E272 0px solid;
  border-width: 0px 12px 0px 0px;
  display: inline-block;
  *display: inline; zoom: 1; /* FOR IE7-8 */
  padding: 8px 40px 8px 8px;
  }

.capbox-inner {
  font: bold 11px arial, sans-serif;
  color: #000000;
  background-color: #DBF3BA;
  margin: 5px auto 0px auto;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }

#CaptchaDiv {
  font: bold 17px verdana, arial, sans-serif;
  font-style: italic;
  color: #000000;
  background-color: #FFFFFF;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }




</style>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <p class='lead'>CSC 642 Summer 2018 Individual Assignment - Sandesh Basnet</p>

    </div>
</nav>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">

      <h3 class="text-center">Registration Form</h3>
        


      <div style="color:red; padding-top:20px;" id='first_errors'>
        
      </div>

      <div style="color:red; padding-top:20px;" id='last_errors'>
        
      </div>

      <div style="color:red; padding-top:20px;" id='pass_errors'>
        
      </div>

      <hr class="my-4" style=' border: 0;
                                clear:both;
                                display:block;
                                 width: 96%;               
                                 background-color:grey;
                                 height: 1px;'>

      <form name='registration' onsubmit="return checkform(this)" method="post" action='/register'>
        <div class="form-group" >
          <label for="first" id='first_label'>First Name <span id='symbol_first'></span></label>
          <input type="text" class="form-control" name="first" id="first" required>
        </div>
        <div class="form-group">
            <label for="last" id='last_label'>Last Name <span id='symbol_last'></span></label>
          <input type="text" class="form-control" name="last" id="last" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" name="address" class="form-control"  required>
        </div>
        <div class="form-group">
          <label for="email">Education Level</label>
          <select name="education">
           <option value="High School">High School </option>
            <option value="College">College </option>
            <option value="Graduate School">Graduate School </option>
            <option value="PhD">PhD</option>
          </select>
        </div>
         <div class="form-group">
          <label for="income">Yearly Income</label>
          <select name="income">
           <option value="Less than 50,000">Less than 50,000</option>
            <option value="Between 50,000 and 100,000">Between 50,000 and 100,000</option>
            <option value="Above 100,000">Above 100,000</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password" id="psw_label">Password <span id='symbol_pass'></span></label>
          <input type="password" name="psw" class="form-control" id='psw' required>
        </div>
        <div class="form-group">
          <label for="password2" id="conf_psw_label">Confirm Password<span id='symbol_pass_conf'></span></label>
          <input type="password" name="password2" id="conf_psw" class="form-control" value="" required>
        </div>
        <b>Captcha</b> </br><br>

    <div class="capbox" align="center">

    <div id="CaptchaDiv" align="center"></div>

    <div class="capbox-inner"  align="center">
    Type the above number:

    <input type="hidden" id="txtCaptcha">
    <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>

    </div>
    </div>
    <div class="form-group" style="margin-top:20px;">

    <label for="terms">
        <input type="checkbox" name="remember" id='terms' style="margin-bottom:15px"> By checking this box you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>
      </label>
    </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>

    <script src="./validation.js">


    </script>

</body>


</html>